const Memory = require("./memory");
<importPageObject>

module.exports = {
    default: {
        paths: ["features/**/*.feature"],
        require: <steps>,
        requireModule: <modules>,
        format: <format>,
        memory: new Memory(),
        <configPageObject>
        parallel: <parallel>,
        publishQuiet: true
    }
}
