Feature: qavajs framework

  Scenario: Open qavajs docs
    Given I open 'https://qavajs.github.io/' url
    When I click 'Get Started Button'
    Then I expect text of 'Body' to contain 'npm install @qavajs/cli'
